body {
    margin: 0;
}

.kitty-container {
    height: 600px;
    position: relative;
    border: 5px solid rgb(12, 214, 204);
    overflow: hidden;
}

.kitty-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateX(100%); /* this is the DEFAULT position */
}

.kitty-container img.onscreen {
    transform: translateX(0);
    transition: transform 3s;
}

.kitty-container img.offscreen-left {
    transform: translateX(-100%);
    transition: transform 3s;
}

#dots {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 0 10px;
}

.on {
    background: white;
}

@media screen and (max-width: 900px) {
    .kitty-container {
        height: 500px;
    }
}

@media screen and (max-width: 700px) {
    .kitty-container {
        height: 400px;
    }
}

@media screen and (max-width: 600px) {
    .kitty-container {
        height: 300px;
    }
}

@media screen and (max-width: 458px) {
    .kitty-container {
        height: 250px;
    }
}
