    <div class="pics">
    {{#projects}}
    <span class="projectTitles"><h2><a class="a-hover a-projectTitle" href='/projects/{{directory}}'>{{title}}</a></h2>
        {{#if ../img}}
        <a href='/projects/{{directory}}'><img class="no-shadow" src='/{{directory}}/screenshot.jpg'></a></span>
        {{/if}}
    {{/projects}}
    </div>