    <div class="footer">
        <div class="footer-child footer-left gradient-text"><span class="mail"><i class="far fa-envelope"></i> &nbsp;<a href="mailto:philippspecht1990@gmail.com">philippspecht1990@gmail.com</a></span></div>
        <div class="footer-child footer-right"><span><a href='/impressum'>Imprint</a></span><span><a href='/datenschutz'>Privacy Policy</a></span><span><a href='/disclaimer'>Disclaimer</a></span></div>
    </div>