<div class="impressum">
<h1>Impressum</h1>
<table class="table">
  <tr>
    <td class="text-bold">Inhaber der Webseite:</td>
    <td>Philipp Specht</td>
  </tr>
  <tr>
    <td class="text-bold">Anschrift:</td>
    <td>Berliner Allee 4, 13088 Berlin</td>
  </tr>
  <tr>
    <td class="text-bold">Telefonnummer:</td>
    <td>0176 / 61833081</td>
  </tr>
  <tr>
    <td class="text-bold">E-Mail Adresse:</td>
    <td>philippspecht1990@gmail.com</td>
  </tr>
  <tr>
    <td class="text-bold">Verantwortlicher für Inhalt:</td>
    <td>Philipp Specht</td>
  </tr>
    <tr>
    <td class="text-bold">Verbraucherinformation zur Online-Streitbeilegung gemäß Verordnung (EU) Nr. 524/2013</td>
    <td>Im Rahmen der Verordnung über Online-Streitbeilegung zu Verbraucherangelegenheiten steht Ihnen unter <a href="https://ec.europa.eu/consumers/odr/">https://ec.europa.eu/consumers/odr/</a> eine Online-Streitbeilegungsplattform der EU-Kommission zur Verfügung.
Wir nehmen nicht an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teil.</td>
  </tr>
</table>
</div>