<div class="header">
    <div class="header-content"><h1 class="h1-header"><i class="fas fa-angle-double-right"></i> Philipp Specht - Portfolio</h1>
    <p>Listed here are some projects, that I developed in different Tech Stacks as a Full Stack Web Developer.</p>
        <div class="portrait-container"><img class="portrait" src="/portrait.jpg">
            <span class="dot"></span>
        </div>
    </div>
</div>
<div class="container-parent welcome-container">
<hr/>
<h2 class="h2-complex">React &amp; Vue.js and more..</h2>
    <div class="complex">
        <div class="complex-child">
            <h3><i class="fas fa-hamburger"></i> My private cook</h3>
            <h4>Platform that enables users to share their cooking skills and earn money</h4>
            <div class="complex-child-bottom">
            <div class="button-container">
                <a target="_blank"  href='https://my-private-cook.herokuapp.com/'><div class="button button-welcome"><i class="far fa-play-circle"></i> Launch</div></a>
            </div>
            <div class="tech-stack-home">
            <span class="text-bold">Tech Stack: </span><span class="gradient-text tech-stack-home">React, Redux, Node.js, PSQL, AWS S3, HTML, CSS</span>
            </div>
            <div class="github"><a target="_blank" href="https://github.com/phispecht/My-private-cook"><img src="/GitHub-Mark-64px.png"/><span class="text-bold gradient-text"> Go to project</span></a></div>
            </div>
        </div>

        <div class="complex-child">
            <h3><i class="fas fa-film"></i> Video Streaming App (e.g. IMDB)</h3>
            <h4>App that allows users to find movies and make decisions more easily based on movie details and trailers</h4>
            <div class="complex-child-bottom">
            <div class="button-container">
                <a target="_blank"  href='https://watch-movies.herokuapp.com/'><div class="button button-welcome"><i class="far fa-play-circle"></i> Launch</div></a>
            </div>
            <div class="tech-stack-home">
            <span class="text-bold">Tech Stack: </span><span class="gradient-text tech-stack-home">React, Node.js, RESTful API, Plain Javascript, HTML, CSS</span>
            </div>
            <div class="github"><a target="_blank" href="https://github.com/phispecht/Streaming-App"><img src="/GitHub-Mark-64px.png"/><span class="text-bold gradient-text"> Go to project</span></a></div>
            </div>
        </div>

        <div class="complex-child">
            <h3><i class="far fa-image"></i> Imageboard</h3>
            <h4>Platform that allows users to share &amp; upload images and make comments</h4>
            <div class="complex-child-bottom">
            <div class="button-container">
                <a target="_blank"  href='https://sp-imageboard.herokuapp.com/'><div class="button button-welcome"><i class="far fa-play-circle"></i> Launch</div></a>
            </div>
            <div class="tech-stack-home">
            <span class="text-bold">Tech Stack: </span><span class="gradient-text">Vue.js, Node.js, PSQL, AWS S3, Plain Javascript, HTML, CSS</span>
            </div>
            <div class="github"><a target="_blank" href="https://github.com/phispecht/Imageboard"><img src="/GitHub-Mark-64px.png"/><span class="text-bold gradient-text"> Go to project</span></a></div>
            </div>
        </div>

        <div class="complex-child">
            <h3><i class="fas fa-users"></i> Social Network</h2>
            <h4>A social network, like Facebook, which allows users to create a profile, add friends, chat and much more.</h4>
            <div class="complex-child-bottom">
            <div class="button-container">
                <a target="_blank"  href='https://sp-socialnetwork.herokuapp.com/'><div class="button button-welcome"><i class="far fa-play-circle"></i> Launch</div></a>
            </div>
            <div class="tech-stack-home">
            <span class="text-bold">Tech Stack: </span><span class="gradient-text tech-stack-home">React, Redux, Node.js, PSQL, AWS S3, Plain Javascript, HTML, CSS</span>
            </div>
            <div class="github"><a target="_blank" href="https://github.com/phispecht/Social-Network"><img src="/GitHub-Mark-64px.png"/><span class="text-bold gradient-text"> Go to project</span></a></div>
            </div>
        </div>
        

    </div>
    <hr/>
<h2 class="h2-complex">Plain Javascript &amp; JQuery and more..</h2>
    <div class="welcome-content">
        {{> description img=true}}
    </div>
</div>

