<div class="header">
    <div class="header-content"><h1 class="h1-header"><i class="fas fa-angle-double-right"></i> &nbsp;Specht Philipp - Portfolio</h1>
    <p>Listed here are some projects, that I developed during the Full Stack Web Development bootcamp at the Spiced Academy.</p>
    </div>
</div>
<div class="container-parent">
<h2 class="h2-complex">React &amp; Vue.js and more..</h2>
    <div class="complex">
        <div class="complex-child">
            <h3>Social Network</h2>
            <div class="button-container">
                <a target="_blank"  href='https://sp-socialnetwork.herokuapp.com/'><div class="button button-welcome">Launch</div></a>
            </div>
            <span class="text-bold">Tech Stack: </span><span class="gradient-text">React, Redux, Node.js, AWS, Plain Javascript, HTML, CSS</span>
            <div class="github"><a target="_blank" href="https://github.com/phispecht/Social-Network"><img src="/GitHub-Mark-64px.png"/><span class="text-bold gradient-text"> Go to project</span></a></div>
        </div>
        
        <div class="complex-child">
            <h3>Imageboard</h2>
            <div class="button-container">
                <a target="_blank"  href='https://sp-imageboard.herokuapp.com/'><div class="button button-welcome">Launch</div></a>
            </div>
            <span class="text-bold">Tech Stack: </span><span class="gradient-text">Vue.js, Node.js, AWS, Plain Javascript, HTML, CSS</span>
            <div class="github"><a target="_blank" href="https://github.com/phispecht/Imageboard"><img src="/GitHub-Mark-64px.png"/><span class="text-bold gradient-text"> Go to project</span></a></div>
        </div>
    </div>
    <hr/>
<h2 class="h2-complex">Plain Javascript &amp; JQuery and more..</h2>
{{> description img=true}}
</div>

