<div class="header">
    <div class="header-content"><h1 class="h1-header">Specht Philipp - Portfolio</h1>
    <p>Listed here are some projects, that I developed during the Full Stack Web Development bootcamp at the Spiced Academy.<br>
    Just click on any image and a detailed description of the project will displayed.</p>
    </div>
</div>
<div class="container-parent">
{{> description img=true}}
</div>

