img {
    border-radius: 8px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    box-shadow: 5px 5px 5px #7a7a7a, 4px 4px 3px #7a7a7a;
}

p {
    font-size: 20px;
    font-weight: 300;
}

ul li {
    font-size: 20px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #004aad;
}

.a-hover:hover {
    color: white;
    padding: 5px 10px 5px 10px;
}

h1 {
    font-size: 34px;
    color: #004aad;
    text-decoration: underline;
}

.h1-header {
    font-size: 3.4em;
}

h2 {
    color: black;
    margin-top: 60px;
    margin-bottom: 0px;
}

h3 {
    font-size: 1.3em;
}

body {
    position: relative;
    overflow: auto;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 180px;
    font-family: "Roboto", sans-serif;
    background-color: white;
}

.header {
    background-image: linear-gradient(
        90deg,
        rgba(155, 10, 240, 1) 17%,
        rgba(0, 74, 173, 1) 100%
    );
    height: 400px;
    margin-bottom: 70px;
}

.header p {
    font-size: 1.8em;
    color: lightgrey;
    max-width: 615px;
    margin: 0 auto;
}

.header h1 {
    margin-top: 0;
    color: white;
    text-decoration: none;
}

.header-content {
    padding-top: 80px;
}

.pics {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
    padding: 25px 0px 25px 0px;
    background: rgb(239 239 239);
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
}

.mail {
    background: -webkit-linear-gradient(
        rgba(155, 10, 240, 1),
        rgba(0, 74, 173, 1)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
}

.gradient-text {
    background: -webkit-linear-gradient(
        rgba(155, 10, 240, 1),
        rgba(0, 74, 173, 1)
    );
    -webkit-background-clip: text;
    /*     -webkit-text-fill-color: transparent; */
    font-size: 20px;
    font-weight: 800;
}

.description-image img {
    width: 100%;
    height: auto;
}

.description-nav span {
    text-align: left;
}

.description-nav {
    position: absolute;
    top: 0;
}

.button {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 180px;
    height: 30px;
    background-color: #004aad;
    background: linear-gradient(
        90deg,
        rgba(155, 10, 240, 1) 17%,
        rgba(0, 74, 173, 1) 100%
    );
    color: white;
    border-radius: 10px;
    padding-top: 9px;
    text-align: center;
    text-transform: uppercase;
}

.button-welcome {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button:hover {
    -webkit-box-shadow: 0px 12px 10px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 12px 10px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 12px 10px -5px rgba(0, 0, 0, 0.75);
}

.button-container {
    margin: 0 auto;
}

.container-parent {
    max-width: 1170px;
    margin: 0 auto;
}

.description-text p {
    text-align: left;
}

.description-container {
    display: inline-block;
    width: 550px;
    text-align: left;
}

.description-container .pics {
    display: block;
}

h2.description-h2 {
    color: #004aad;
    font-size: 34px;
}

.pics span:hover {
    background: radial-gradient(
        circle,
        rgba(0, 74, 173, 1) 25%,
        rgba(155, 10, 240, 1) 100%
    );
}

.pics span:hover .a-projectTitle {
    color: white;
}

.pics span {
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
}

.pics h2 {
    margin-top: 15px;
}

span .projectTitles {
    background-color: white;
    margin: 0;
    /* margin-top: 10px; */
}

.a-projectTitleDescription:hover {
    background: linear-gradient(
        90deg,
        rgba(155, 10, 240, 1) 17%,
        rgba(0, 74, 173, 1) 100%
    );
}

span .projectTitles:hover {
    background-color: white;
}

.no-shadow {
    filter: brightness(0.8);
    box-shadow: none;
}

.no-shadow:hover {
    filter: none;
}

.text-bold {
    font-size: 20px;
    font-weight: 800;
}

.github {
    margin-top: 10px;
}

.github img {
    margin-top: 0;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    box-shadow: none;
    vertical-align: middle;
}

.fa-angle-double-right {
    color: #21ed81;
}

.complex {
    margin-bottom: 60px;
}

.h2-complex {
    margin-bottom: 50px;
}

hr {
    border-radius: 10px;
    width: 100px;
    background: linear-gradient(
        90deg,
        rgba(155, 10, 240, 1) 17%,
        rgba(0, 74, 173, 1) 100%
    );
    height: 10px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.complex a {
    font-size: 20px;
}

.complex .fa-angle-double-right:last-of-type {
    margin-left: 40px;
}

.complex-child {
    display: inline-block;
    width: 320px;
    padding: 15px 15px 30px 15px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.complex-child:last-of-type {
    margin-left: 20px;
}

.logo-container {
    padding: 10px;
    position: fixed;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 999;
    top: 0;
}

.logo {
    font-size: 1.8em;
    font-family: "Merienda One", cursive;
}

.description-nav h2 {
    margin-top: 30px;
    font-size: 1.8em;
}

.description-menu {
    display: none;
}

.welcome-content img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.fa-envelope {
    vertical-align: bottom;
}

.table {
    margin-bottom: 20px;
}

.table td {
    background: rgb(239 239 239);
    font-size: 20px;
    width: 50%;
    padding: 10px 5px;
    overflow: hidden;
    word-break: normal;
}

.footer-right span:not(:first-of-type) {
    margin-left: 30px;
}

.footer-left span:not(:first-of-type) {
    margin-left: 30px;
}

.footer-right {
    text-align: right;
    width: 47%;
    padding: 0px 20px 0px 20px;
}

.footer-left {
    text-align: left;
    width: 47%;
    padding: 0px 20px 0px 20px;
    font-size: 18px;
}

.footer-left span,
.footer-left a {
    font-size: 18px;
}

.footer-child {
    vertical-align: middle;
    display: inline-block;
}

.impressum,
.datenschutz,
.disclaimer {
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: left;
    padding: 30px;
}

.impressum h1,
.datenschutz h1,
.disclaimer h1 {
    margin-bottom: 40px;
}

@media screen and (max-width: 1400px) {
    .footer-right {
        width: 40%;
    }

    .footer-left {
        width: 40%;
    }
}

@media screen and (max-width: 1240px) {
    .description-container {
        width: 400px;
    }
}

@media screen and (max-width: 1200px) {
    .pics {
        grid-template-columns: 33% 33% 33%;
    }
}

@media screen and (max-width: 1100px) {
    .footer-left span:not(:first-of-type) {
        margin-left: 0px;
    }

    .mail {
        display: block;
    }
}

@media screen and (max-width: 980px) {
    .description-nav {
        font-size: 18px;
    }

    .description-nav h2 {
        margin-top: 30px;
        font-size: 1.2em;
    }

    .description-container h1 {
        margin-top: 40px;
        text-align: center;
    }

    .description-text p {
        text-align: justify;
    }

    .description-button {
        margin: 0 auto;
        margin-bottom: 30px;
        font-size: 1.2em;
        padding: 5px;
        padding-top: 13px;
    }

    .description-nav {
        position: relative;
    }

    .description-nav span {
        box-shadow: none;
    }

    .description-nav .a-projectTitleDescription:hover {
        background: none;
    }

    .description-nav .pics span:hover {
        background: none;
    }

    .description-nav {
        position: absolute;
        left: -270px;
        border-radius: 8px;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
        padding: 20px;
        margin-top: 70px;
        background-color: white;
        position: fixed;
    }

    .show {
        display: block;
        left: 0;
    }

    .description-menu {
        cursor: pointer;
        display: block;
        background-color: grey;
        text-align: center;
        width: 190px;
        padding: 20px;
        padding-right: 10px;
        height: 32px;
        position: absolute;
        right: -145px;
        transform: rotate(-90deg);
        top: 100px;
        background: linear-gradient(
            90deg,
            rgba(155, 10, 240, 1) 17%,
            rgba(0, 74, 173, 1) 100%
        );
        border-radius: 5px;
        color: white;
        font-size: 1.6em;
    }

    .description-container:last-of-type {
        width: 70%;
    }

    .first {
        width: 49%;
    }

    #nav a:hover {
        background: linear-gradient(
            90deg,
            rgba(155, 10, 240, 1) 17%,
            rgba(0, 74, 173, 1) 100%
        );
    }

    .complex-child {
        display: block;
        width: 500px;
        margin: 0 auto;
    }

    .complex-child:last-of-type {
        margin: 0 auto;
        margin-top: 50px;
    }
}

@media screen and (max-width: 800px) {
    .welcome-content span:hover .a-projectTitle {
        color: rgba(0, 74, 173, 1);
    }

    .description-menu {
        width: 200px;
        padding: 5px;
        right: -114px;
        top: 115px;
        font-size: 1.2em;
    }

    .pics {
        display: block;
    }

    .pics span {
        margin: 0;
    }

    .pics h2 {
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .description-nav {
        left: -378px;
    }

    .show {
        left: 0;
    }

    .description-nav .pics h2 {
        margin-bottom: 0;
        margin-left: 0;
    }

    .description-nav .pics h2 {
        margin-top: 25px;
    }

    .projectTitles img {
        width: 350px;
    }

    .projectTitles h2 {
        width: 350px;
    }

    .footer-right span {
        display: block;
    }
}

@media screen and (max-width: 723px) {
    .button-welcome {
        font-size: 1.4em;
        padding: 10px;
    }

    .complex-child {
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 80%;
    }

    .complex-child:last-of-type {
        text-align: center;
        margin: 0 auto;
        margin-top: 60px;
    }

    .footer-left,
    .footer-right {
        width: 43%;
    }
}

@media screen and (max-width: 650px) {
    .description-container {
        width: 90%;
    }

    .welcome-content .pics {
        display: block;
    }

    .table td {
        display: block;
        width: 100%;
        word-break: break-word;
    }

    .header p {
        padding: 0px 15px 0px 15px;
    }

    .footer-left,
    .footer-right {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .footer-right span:not(:first-of-type) {
        margin-left: 15px;
    }

    .footer-right span {
        display: inline-block;
    }

    .mail {
        margin-top: 0;
    }

    .footer-right {
        margin-top: 10px;
    }
}

@media screen and (max-width: 500px) {
    .header i.fa-angle-double-right {
        display: none;
    }

    .footer-left span,
    .footer-left a {
        font-size: 14px;
    }

    .footer-right span {
        font-size: 14px;
    }

    .footer {
        padding: 15px 0px 15px 0px;
    }

    .impressum h1,
    .datenschutz h1,
    .disclaimer h1 {
        font-size: 28px;
    }

    .description-nav {
        width: 240px;
        left: -270px;
    }

    .show {
        left: 0;
    }

    .h2-complex {
        padding: 0 10px 0 10px;
    }

    .projectTitles img {
        width: 280px;
    }

    .header p {
        font-size: 22px;
    }

    .header-content {
        padding-top: 70px;
    }

    .h1-header {
        font-size: 2.8em;
    }

    .welcome-content .projectTitles h2 {
        width: 320px;
    }
}
