img {
    border-radius: 8px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    box-shadow: 5px 5px 5px #7a7a7a, 4px 4px 3px #7a7a7a;
}

.portrait-container {
    position: relative;
}

.portraint-container span {
    display: inline-block;
}

.portrait {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 25px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
}

.dot {
    position: absolute;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #21ed81;
}

p {
    font-size: 20px;
    font-weight: 300;
}

ul li {
    font-size: 20px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #004aad;
}

.a-hover:hover {
    color: white;
    padding: 5px 10px 5px 10px;
}

h1 {
    font-size: 34px;
    color: #004aad;
    text-decoration: underline;
}

.h1-header {
    font-size: 3.4em;
}

h2 {
    color: black;
    margin-top: 60px;
    margin-bottom: 0px;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2rem;
    color: rgb(68, 68, 68);
}

body {
    position: relative;
    overflow: auto;
    text-align: center;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    background-color: white;
}

.header {
    background-image: linear-gradient(
        90deg,
        rgba(155, 10, 240, 1) 17%,
        rgba(0, 74, 173, 1) 100%
    );
    height: 400px;
    margin-bottom: 70px;
}

.header p {
    font-size: 1.8em;
    color: lightgrey;
    max-width: 615px;
    margin: 0 auto;
}

.header h1 {
    margin-top: 0;
    color: white;
    text-decoration: none;
}

.header-content {
    padding-top: 80px;
}

.pics {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.footer {
    color: rgb(15, 15, 15);
    bottom: 0;
    width: 100%;
    margin-top: 100px;
    padding: 25px 0px 25px 0px;
    background: rgb(204, 227, 218);
}

.footer .mail {
    font-size: 18px;
}

.footer-bottom span:not(:last-of-type) {
    margin-right: 20px;
}

.seperator {
    height: 1px;
    width: 50px;
    margin: 15px auto;
    background: rgb(15, 15, 15);
}

.gradient-text {
    background: -webkit-linear-gradient(
        rgba(155, 10, 240, 1),
        rgba(0, 74, 173, 1)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: 800;
}

.description-image img {
    width: 100%;
    height: auto;
}

.description-nav span {
    text-align: left;
}

.description-nav {
    position: absolute;
    top: 0;
}

.button {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 180px;
    height: 30px;
    background-color: #004aad;
    background: linear-gradient(
        90deg,
        rgba(155, 10, 240, 1) 17%,
        rgba(0, 74, 173, 1) 100%
    );
    color: white;
    border-radius: 10px;
    padding-top: 9px;
    text-align: center;
    text-transform: uppercase;
}

.button-welcome {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.button:hover {
    -webkit-box-shadow: 0px 12px 10px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 12px 10px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 12px 10px -5px rgba(0, 0, 0, 0.75);
}

.button-container {
    margin: 0 auto;
}

.container-parent {
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 20px;
}

.welcome-container {
    margin-top: 170px;
}

.description-text p {
    text-align: left;
}

.description-container {
    display: inline-block;
    width: 550px;
    text-align: left;
}

.description-container .pics {
    display: block;
}

h2.description-h2 {
    color: #004aad;
    font-size: 34px;
}

.description-button {
    font-size: 1.2em;
}

.pics span:hover {
    background: radial-gradient(
        circle,
        rgba(0, 74, 173, 1) 25%,
        rgba(155, 10, 240, 1) 100%
    );
}

.pics span:hover .a-projectTitle {
    color: white;
}

.pics span {
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.pics h2 {
    padding-bottom: 20px;
    margin-top: 15px;
}

span .projectTitles {
    background-color: white;
    margin: 0;
}

.a-projectTitleDescription:hover {
    background: linear-gradient(
        90deg,
        rgba(155, 10, 240, 1) 17%,
        rgba(0, 74, 173, 1) 100%
    );
}

span .projectTitles:hover {
    background-color: white;
}

.no-shadow {
    filter: brightness(0.8);
    box-shadow: none;
}

.no-shadow:hover {
    filter: none;
}

.text-bold {
    font-size: 20px;
    font-weight: 800;
}

.tech-stack-home {
    height: 100px;
}

.github {
    margin-top: 10px;
}

.github img {
    margin-top: 0;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    box-shadow: none;
    vertical-align: middle;
}

.fa-angle-double-right,
.fa-angle-double-down {
    color: #21ed81;
}

.fa-angle-double-down {
    font-size: 3.4em;
}

.complex {
    display: flex;
    margin-bottom: 60px;
}

.h2-complex {
    font-size: 1.8rem;
    margin-bottom: 50px;
}

hr {
    border-radius: 10px;
    width: 100px;
    background: linear-gradient(
        90deg,
        rgba(155, 10, 240, 1) 17%,
        rgba(0, 74, 173, 1) 100%
    );
    height: 10px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.complex a {
    font-size: 20px;
}

.complex .fa-angle-double-right:last-of-type {
    margin-left: 40px;
}

.complex-child {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin: 10px;
    width: 320px;
    padding: 15px 15px 30px 15px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.complex-child h3 {
    height: 30px;
}

.complex-child:hover {
    background: rgb(248, 248, 248);
}

.complex-child-bottom {
    margin-top: auto;
}

.fa-hamburger {
    color: #51b73b;
}

.fa-film {
    color: orange;
}

.fa-image {
    color: rgb(48 48 255);
}

.fa-users {
    color: #7804d1;
}

.logo-container {
    padding: 10px;
    position: fixed;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 999;
    top: 0;
}

.logo {
    font-size: 1.8em;
    font-family: "Merienda One", cursive;
}

.description-nav h2 {
    margin-top: 30px;
    font-size: 1.8em;
}

.description-menu {
    display: none;
}

.welcome-content img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.fa-envelope {
    vertical-align: bottom;
}

.table {
    margin-bottom: 20px;
}

.table td {
    background: rgb(239 239 239);
    font-size: 20px;
    width: 50%;
    padding: 10px 5px;
    overflow: hidden;
    word-break: normal;
}

.footer a {
    color: rgb(15, 15, 15);
    font-weight: 400;
    font-size: 18px;
}

.impressum,
.datenschutz,
.disclaimer {
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: left;
    padding: 30px;
}

.impressum h1,
.datenschutz h1,
.disclaimer h1 {
    margin-bottom: 40px;
    word-break: break-all;
}

@media screen and (max-width: 1240px) {
    .description-container {
        width: 400px;
    }
}

@media screen and (max-width: 1200px) {
    .pics {
        grid-template-columns: 33% 33% 33%;
    }
}

@media screen and (max-width: 1110px) {
    .tech-stack-home {
        height: 120px;
    }
}

@media screen and (max-width: 980px) {
    .description-nav {
        font-size: 18px;
    }

    .description-nav h2 {
        margin-top: 30px;
        font-size: 1.2em;
    }

    .description-container h1 {
        margin-top: 40px;
        text-align: center;
    }

    .description-text p {
        text-align: justify;
    }

    .description-button {
        margin: 0 auto;
        margin-bottom: 30px;
        font-size: 1.2em;
        padding: 5px;
        padding-top: 13px;
    }

    .description-nav {
        position: relative;
    }

    .description-nav span {
        box-shadow: none;
    }

    .description-nav .a-projectTitleDescription:hover {
        background: none;
    }

    .description-nav .pics span:hover {
        background: none;
    }

    .description-nav {
        position: absolute;
        left: -270px;
        border-radius: 8px;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
        padding: 20px;
        margin-top: 70px;
        background-color: white;
        position: fixed;
    }

    .show {
        display: block;
        left: 0;
    }

    .description-menu {
        cursor: pointer;
        display: block;
        background-color: grey;
        text-align: center;
        width: 190px;
        padding: 20px;
        padding-right: 10px;
        height: 32px;
        position: absolute;
        right: -145px;
        transform: rotate(-90deg);
        top: 100px;
        background: linear-gradient(
            90deg,
            rgba(155, 10, 240, 1) 17%,
            rgba(0, 74, 173, 1) 100%
        );
        border-radius: 5px;
        color: white;
        font-size: 1.6em;
    }

    .description-container:last-of-type {
        width: 70%;
    }

    .first {
        width: 49%;
    }

    #nav a:hover {
        background: linear-gradient(
            90deg,
            rgba(155, 10, 240, 1) 17%,
            rgba(0, 74, 173, 1) 100%
        );
    }

    .tech-stack-home {
        height: auto;
    }

    .complex-child h3 {
        height: auto;
        margin-bottom: 0;
    }

    .complex-child h4 {
        margin-bottom: 0;
    }

    .complex {
        display: block;
    }

    .complex-child {
        width: 70%;
        margin: 0 auto;
        margin-top: 30px;
    }
}

@media screen and (max-width: 800px) {
    .welcome-content span:hover .a-projectTitle {
        color: rgba(0, 74, 173, 1);
    }

    .description-menu {
        width: 200px;
        padding: 5px;
        right: -114px;
        top: 115px;
        font-size: 1.2em;
    }

    .pics {
        display: block;
    }

    .pics span {
        margin: 0;
    }

    .pics h2 {
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .description-nav {
        left: -378px;
    }

    .show {
        left: 0;
    }

    .description-nav .pics h2 {
        margin-bottom: 0;
        margin-left: 0;
    }

    .description-nav .pics h2 {
        margin-top: 25px;
    }

    .projectTitles img {
        width: 70%;
    }

    .projectTitles h2 {
        width: 350px;
        padding-top: 5px;
    }

    .pics span {
        box-shadow: none;
    }

    .welcome-content img {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

@media screen and (max-width: 723px) {
    .h1-header {
        font-size: 3em;
    }

    .gradient-text {
        background: none;
        -webkit-background-clip: none;
        -webkit-text-fill-color: rgb(155, 10, 240);
        font-size: 20px;
        font-weight: 800;
    }
}

@media screen and (max-width: 650px) {
    .description-container {
        width: 90%;
    }

    .welcome-content .pics {
        display: block;
    }

    .table td {
        display: block;
        width: 100%;
        word-break: break-word;
    }

    .header p {
        padding: 0px 15px 0px 15px;
    }
}

@media screen and (max-width: 580px) {
    .header p {
        font-size: 1.4em;
    }

    .complex-child,
    .projectTitles img {
        width: 85%;
    }
}

@media screen and (max-width: 500px) {
    .header i.fa-angle-double-right {
        display: none;
    }

    .impressum h1,
    .datenschutz h1,
    .disclaimer h1 {
        font-size: 28px;
    }

    .description-nav {
        width: 240px;
        left: -270px;
    }

    .show {
        left: 0;
    }

    .h2-complex {
        padding: 0 10px 0 10px;
    }

    .header p {
        font-size: 22px;
    }

    .header-content {
        padding-top: 70px;
    }

    .h1-header {
        font-size: 2.8em;
    }

    .welcome-content .projectTitles h2 {
        width: 320px;
    }
}

@media screen and (max-width: 350px) {
    .header h1 {
        font-size: 36px;
    }
}
